@import url(https://fonts.googleapis.com/css?family=Molle:400italic&subset=latin,latin-ext);
body{
    background-color: hsla(0,0%,0%,1);
    margin: 0;
    overflow: hidden;
    font-family: 'Molle', cursive;
}
h2{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50%);
    font-size:4em;
    color:hsla(255, 255%, 255%, .1);
}
#santa {
    position: absolute;
    width: 360px;
    height: 250px;
    background-image: url('img/Santa.gif');
    background-repeat: no-repeat;
}
#tree{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 80%;
    background-image: url("img/tree.gif");
    background-repeat: no-repeat;
}
#tree1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 22%;
    background-image: url("img/tree.gif");
    background-repeat: no-repeat;
}